@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  width: 100vw;
  /* font-family: 'Fira Code', monospace; */
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
pre code.hljs {
  overflow-x: auto;
  padding: 0rem 1rem 0 0;
  width: 360px;
}
